@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
        body{
            font-family: 'Roboto', sans-serif;
            background-color: #027dc9;
            color: whitesmoke;
        }

        #message{
            font-size: 110px;
            text-align: center;
            padding-top: 80px;
        }

        
        #box{
            border: 1px solid #ffffff;
            width:110px;
            padding: 8px 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            background-color: whitesmoke;
        }

        #clock{
            font-size: 210px;
            font-weight: bolder;
            text-align: center;
            margin-top: 50px;
        }

        #date{
            margin-top: 50px;
            font-size: 60px;
            text-align: center;
        }